body {
    text-decoration: none;
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Sora !important;
}

.navbar2 {
    background: #006d7c;
    height: 50px;
    padding-left: 13.5rem;
    padding-right: 14rem;
}

@media (max-width: 952px) {
    .navbar2 {
        padding-left: 4em;
        padding-right: 4em;
    }
}

nav ul {
    float: right;
    justify-content: space-between;

}

nav ul li{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 1px;

    display: inline-block;
    padding-left: 1em;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

a.active, a:hover{
    color: #f1f1f1 !important;
    transition: .25s;
    text-decoration: none !important;
}

.checkbtn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 50px;
    margin-right: 40x;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width: 952px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: fit-content;
        top: 34px;
        right: -110%;
        text-align: center;
        transition: all .25s;
        background-color: #2e1f57;
    }
    nav ul li{
        display: block;
        margin: 35px 0;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active {
        color: #F96A19;
    }
    #check:checked ~ ul{
        right: 0%;
    }

}

.logo {
    color: white;
    font-size: 1.1rem;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 1000;
    line-height: 50px;
    letter-spacing: 1px;
}

.logo span {
    color: #F96A19;
    font-family: Titillium Web;
}

.container1 {
    background-color: #2e1f57;
    width: 100%;
    padding-top: px;
    display: flex;
    justify-content: center;  
    padding-bottom: 0;
    margin-left: 10em;
    margin-right: 10em;
 }

 .container2 {
    width: 100%;
    background: #EFF1FA;
    display: flex;
    justify-content: space-around;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    flex-wrap: wrap;
    
}