{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        img {
            width: 125px;
        }

        body {
            background-color: rgb(245, 245, 245);
        }
    </style>

    <title>Story 1</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark px-5">
        <a class="navbar-brand ml-5" href="#">hanifanggawi</a>
        <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item active"> <a class="nav-link" href="/">Story4</a></li>
        </ul>
    </nav>

    
    <div class="col-md-8 mx-5 p-4">
        <div class="container p-4 m-4 border bg-white">
            <div class="media">
            <img class="rounded-circle account-img" src="{% static 'images/Muhammad Hanif Anggawi Squared.png' %}" alt="">
                <div class="media-body m-3">
                    <h1>Hanif Anggawi</h1>
                    <span>1906350963</span> <br>
                    <span>Fakultas Ilmu Komputer 2019</span>
                </div>
            </div>
        </div>
    
        <div class="container p-4 m-4 border bg-white">
            <table >
                <tr><td style="font-weight: bold;">Deskripsi diri</td>    <td>    :    </td>  <td> Saya adalah mahasiswa fasilkom UI yang sedang belajar PPW</td> </tr>
                <tr><td style="font-weight: bold;">Interest</td>        <td>    :    </td>  <td> Tech, Design, Gaming</td> </tr>
                <tr><td style="font-weight: bold;">RIwayat Pendidikan</td> <td>    :    </td>   <td> SMAN 34 Jakarta</td> </tr>
                <tr><td style="font-weight: bold;">Contact</td>     <td>    :    </td>  <td><a href="https://instagram.com/hanifanggawi">@hanifanggawi</a></td> </tr>
                
            </table>
        </div>

        <div class="container p-4 m-4 border bg-white">
            <h5> Riwayat Pendidikan</h5>
            <ul>
                <li>SD Lazuardi GIS Cinere (2007 - 2013)</li>
                <li>SMP Lazuardi GIS Jakarta (2013 - 2016)</li>
                <li>SMAN 34 Jakarta (2016 -2019)</li>
                <li>Universitas Indonesia (2019 - Sekarang)</li>
            </ul>

        </div>

    </div>
    


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
